org: ecastrov
app: travel-assistant
service: travel-api
frameworkVersion: "4"

build:
  esbuild:
    bundle: true

provider:
  name: aws
  runtime: nodejs22.x
  environment:
    TABLE_NAME: !Ref TravelsTable
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Query
          Resource: !GetAtt TravelsTable.Arn

functions:
  createTravel:
    handler: src/handlers/createHandler.handler
    events:
      - httpApi:
          path: /travels
          method: post

  getTravel:
    handler: src/handlers/readHandler.handler
    events:
      - httpApi:
          path: /travels
          method: get

  updateTravel:
    handler: src/handlers/updateHandler.handler
    events:
      - httpApi:
          path: /travels/{id}
          method: put

  deleteTravel:
    handler: src/handlers/deleteHandler.handler
    events:
      - httpApi:
          path: /travels/{id}
          method: delete

plugins:
  - serverless-offline

resources:
  Resources:
    TravelsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: travels
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:service}-user-pool-${sls:stage}
        UsernameAttributes:
          - email
        AutoVerifiedAttributes:
          - email
        Policies:
          PasswordPolicy:
            MinimumLength: 8
            RequireUppercase: true
            RequireLowercase: true
            RequireNumbers: true
            RequireSymbols: false

    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:service}-web-client-${sls:stage}
        UserPoolId: !Ref CognitoUserPool
        ExplicitAuthFlows:
          - ALLOW_USER_SRP_AUTH
          - ALLOW_USER_PASSWORD_AUTH
          - ALLOW_REFRESH_TOKEN_AUTH
        GenerateSecret: false
        PreventUserExistenceErrors: ENABLED

  Outputs:
    UserPoolId:
      Value: !Ref CognitoUserPool
    UserPoolClientId:
      Value: !Ref CognitoUserPoolClient
